/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #1C1B22;
    bg1:    #2B2A33;
    bg2:    #FFFFFF;
    bg3:    #FFFFFF0F;
    fg0:    #FFFFFF;
    fg1:    #ECEFF4;
    fg2:    #D8DEE9;
    fg3:    #3E3E48;
}

@import "template/rounded-template.rasi"

element selected {
    text-color: @bg1;
}
